<div class="map-lift">
  {% embed "@hdbt/misc/container.twig" with {container_element: 'block'} %}
    {% block container_content %}
      <h5 class="map-lift__subtitle">{{ 'Map'|t }}</h5>
      <h3 class="map-lift__title">{{ 'Explore historical places by location'|t }}</h3>
      <p class="map-lift__description">{{ 'You can find historical places and events in Helsinki with our interactive map'|t }}</p>
      <div class="map-lift__image">
        <a href="{{ map_node_url }}">
          <img src="{{ base_path ~ directory }}/src/images/map_comparison.png" alt="" />
        </a>
      </div>
      {%
        set link_classes = [
          'hds-button',
          'hds-button--primary',
          'hdbt-icon',
          'hdbt-icon--arrow-right',
        ]
      %}
      <a href="{{ map_node_url }}" {{ create_attribute({'class': link_classes} ) }}>
        <span class="hds-button__label">{{ 'Explore interactive map'|t }}</span>
      </a>
    {% endblock %}
  {% endembed %}
</div>
