<div class="map-controls__top-container comparison-map">
  <div class="map-controls__map-layer comparison-map" aria-label="{{ 'Map layer selector'|t({}, {'context' : 'Map selectors'}) }}">
    <button class="map-controls__control-button map-controls__map-layer-item active comparison-map" role="button" data-map-layer-title="present">
      {{ 'Present'|t({}, {'context' : 'Map selectors'}) }}
    </button>
    {% for layer in map_layers %}
      <button class="map-controls__control-button map-controls__map-layer-item comparison-map" role="button" data-map-layer-title="{{ layer.layer_title }}" data-map-api-endpoints="{{ layer.map_api_endpoints }}" data-map-api="{{ era.map_api }}" data-map-wms-title="{{ era.map_wms_title }}">
        {{ layer.layer_title }}
      </button>
    {% endfor %}
  </div>
</div>