<div class="map-controls__top-container main-map">
  <div class="map-controls__map-layer main-map" aria-label="{{ 'Map layer selector'|t({}, {'context' : 'Map selectors'}) }}">
    <button class="map-controls__control-button map-controls__map-layer-item active main-map" role="button" data-map-layer-title="present">
      {{ 'Present'|t({}, {'context' : 'Map selectors'}) }}
    </button>
    {% for layer in map_layers %}
      <button class="map-controls__control-button map-controls__map-layer-item main-map" role="button" data-map-layer-title="{{ layer.layer_title }}" data-map-api-endpoints="{{ layer.map_api_endpoints }}" data-map-api="{{ era.map_api }}" data-map-wms-title="{{ era.map_wms_title }}">
        {{ layer.layer_title }}
      </button>
    {% endfor %}
  </div>
</div>

<div class="map-controls__sidebar-container">
  <div class="map-controls__control">
    <button class="map-controls__control-button" id="map-comparison-btn" role="button" aria-label={{ 'Map comparison button'|t({}, {'context' : 'Map selectors'}) }}>
      {% include '@hdbt/misc/icon.twig' with {icon: 'map'} %}
      {{ 'Compare maps'|t({}, {'context': 'Map selectors'}) }}
    </button>
  </div>

  <div class="map-controls__control">
    <button class="map-controls__control-button" id="zoom-in-btn" role="button" aria-label={{ 'Zoom in button'|t({}, {'context' : 'Map selectors'}) }}>
      {% include '@hdbt/misc/icon.twig' with {icon: 'zoom-in', label: 'Zoom in'|t({}, {'context': 'Map selectors'}) } %}
    </button>
  </div>

  <div class="map-controls__control">
    <button class="map-controls__control-button" id="zoom-out-btn" role="button" aria-label={{ 'Zoom in button'|t({}, {'context' : 'Map selectors'}) }}>
      {% include '@hdbt/misc/icon.twig' with {icon: 'zoom-out', label: 'Zoom out'|t({}, {'context': 'Map selectors'}) } %}
    </button>
  </div>

  <div class="map-controls__control">
    <button class="map-controls__control-button" id="locate-btn" role="button" aria-label={{ 'Locate me button'|t({}, {'context' : 'Map selectors'}) }}>
      {% include '@hdbt/misc/icon.twig' with {icon: 'locate', label: 'Locate me'|t({}, {'context': 'Map selectors'}) } %}
    </button>
  </div>
</div>