<div class="map-controls__container">
  <div class="map-controls__map-era" aria-label="{{ 'Map era selector'|t }}">
    <div class="map-controls__map-era-item active" role="button" data-map-era="present">
      {{ 'Present'|t }}
    </div>
    {% for era in map_eras %}
      <div class="map-controls__map-era-item" role="button" data-map-era="{{ era.title }}" data-map-wms-title="{{ era.map_wms_title }}">
        {{ era.title }}
      </div>
    {% endfor %}
  </div>
</div>