{#
/**
 * @file
 * Theme override to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 */
#}
{% set image = content.field_media_image %}

{%
  set classes = [
    'content-card',
    'content-card--media',
    not media.isPublished() ? 'content-card--unpublished',
    view_mode ? 'content-card--design-' ~ view_mode|clean_class,
  ]
%}

{%
  set title_classes = [
    'content-card__title'
  ]
%}

{% set entity_url = path('entity.media.canonical', { 'media': media.id }) %}

<article{{ attributes.addClass(classes) }}>

  <a href="{{ entity_url }}" class="content-card__link" rel="bookmark">
    <div class="content-card__image">
      {% if image.0 %}
        {{ image }}
      {% else %}
        <div class="image-placeholder">
          {% include "@hdbt/misc/icon.twig" with { icon: 'helsinki' } %}
        </div>
      {% endif %}
    </div>

    <div class="content-card__content">
      <div class="content-card__metadata">
        <div class="content-card__bundle content-card__metadata-item">
          <span class="content-card__metadata-item__icon bundle-{{ media.bundle() }}">
            {% include '@hdbt/misc/icon.twig' with { icon: 'camera', label: 'Image'|t } %}
          </span>
          {% if content.field_formats|render %}
            <span class="content-card__metadata-item__text">
              {{ content.field_formats }}
            </span>
          {% endif %}
        </div>

        {% if content.field_phenomena|render %}
          <div class="content-card__phenomena content-card__metadata-item">
            <span class="content-card__metadata-item__text">
              {{ content.field_phenomena }}
            </span>
          </div>
        {% endif %}

        {% if content.field_start_year|render %}
          <div class="content-card__year content-card__metadata-item">
            {% set start_year = (content.field_start_year[0]['#markup'] > 0) ? content.field_start_year[0]['#markup'] : content.field_start_year[0]['#markup']|abs ~ ' ' ~ 'BCE'|t %}
            {% if content.field_end_year.0 %}
              {% set end_year = (content.field_end_year[0]['#markup'] > 0) ? content.field_end_year[0]['#markup'] : content.field_end_year[0]['#markup']|abs ~ ' ' ~ 'BCE'|t %}
              {% set years = start_year != end_year ? start_year ~ ' – ' ~ end_year : start_year %}
            {% endif %}
            {% set period = years ? years : start_year %}
            <span class="content-card__metadata-item__text">
              {{ period }}
            </span>
          </div>
        {% endif %}
      </div>

      {{ title_prefix }}
      <h3{{ title_attributes.addClass(title_classes) }}>
        {{ content.name }}
      </h3>
      {{ title_suffix }}
      
      <span class="content-card__arrow{% if target_new %} is-outbound{% endif %}">
        {% include '@hdbt/misc/icon.twig' with {icon: 'arrow-right', label: 'Go to content'|t } %}
      </span>
    </div>
  </a>
  
</article>